<ion-view view-title="Trip Reminder">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="trip in trips|orderBy:'alertTime'">
                <div class="row">
                    <div class="col col-center" style="max-width:70px;">
                        <i class="icon ion-ios-bell"></i>
                        <strong>{{trip.alertTime|date:'HH:mm'}}</strong>
                    </div>
                    <div class="col">
                        <div class="no-text-wrap">{{trip.Origin.name}}</div>
                        <div class="no-text-wrap">{{trip.Destination.name}}</div>
                    </div>
                    <div class="col text-center" style="max-width:50px;">
                        <div>{{trip.Origin.time}}</div>
                        <div>{{trip.Destination.time}}</div>
                    </div>
                    <ion-option-button class="button-assertive" ng-click="deleteNotification($index)">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>